<div class="container" style="padding:10px">
  <div class="card">
    <div class="card-body">
      <img src="http://placehold.it/64x64" class="float-left rounded-circle">
      <div class="message" style="margin-left: 80px;margin-top:20px">
        <h5 class="card-title">{{user.firstname + ' '+user.lastname}}</h5>
      </div>
      <div style="float:right">
        <a href="#" style="text-decoration: none;" (click)="showFriends()"><b>Show Friends</b></a>
      </div>
    </div>
    <div *ngIf="shouldShowFriends" style="margin-left: 40px;padding:10px">
      <h2>Total Friends: {{totalFriends}}</h2>
      <div class="card" *ngFor="let friend of friends">
        <div class="card-body">
          <img src="http://placehold.it/64x64" class="float-left rounded-circle">
          <div class="message" style="margin-left: 80px;margin-top:20px">
            <h5 class="card-title">{{friend.firstname + ' '+friend.lastname}}</h5>
          </div>
          <div style="float:right">
            <a href="#" style="text-decoration: none;"><b>Show Friends</b></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
